In [21]:
import nltk
import pandas as pd

In [14]:
raw_data = open("SMSSpamCollection.txt").read()
raw_data[0:500]

"ham\tGo until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...\nham\tOk lar... Joking wif u oni...\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tU dun say so early hor... U c already then say...\nham\tNah I don't think he goes to usf, he lives around here though\nspam\tFreeMsg Hey there darling it's been 3 week's now and no word bac"

In [15]:
parsed_data = raw_data.replace('\t','\n').split('\n')
parsed_data[0:5]

['ham',
 'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...',
 'ham',
 'Ok lar... Joking wif u oni...',
 'spam']

In [16]:
label_list = parsed_data[::2]
text_list = parsed_data[1::2]

In [20]:
print(label_list[:5])
print(text_list[:5])

['ham', 'ham', 'spam', 'ham', 'ham']
['Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...', 'Ok lar... Joking wif u oni...', "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", 'U dun say so early hor... U c already then say...', "Nah I don't think he goes to usf, he lives around here though"]

In [23]:
full_corpus = pd.DataFrame({'label':label_list[:-1], 'body_list':text_list})
full_corpus.head()

  label                                          body_list
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [24]:
dataset = pd.read_csv("SMSSpamCollection.txt", sep = '\t', header = None)
dataset.head()

      0                                                  1
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [25]:
# dataset
full_corpus = pd.read_csv("SMSSpamCollection.txt", sep = '\t', header = None)
full_corpus.columns = ['label', 'body_text']
full_corpus.head()

  label                                          body_text
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [29]:
# What is the shape of the dataset?
full_corpus.shape

(5572, 2)

In [40]:
# how many ham/spam are there?
print("Out of {} rows, there are {} spam and {} ham".format(len(full_corpus),len(full_corpus[full_corpus['label'] == 'spam']),len(full_corpus[full_corpus['label'] == 'ham'])))

Out of 5572 rows, there are 747 spam and 4825 ham

In [42]:
# How much missing data is there
print("Number of nulls/missing values in label are {}".format(full_corpus['label'].isnull().sum()))
print("Number of nulls/missing values in text body are {}".format(full_corpus['body_text'].isnull().sum()))

Number of nulls/missing values in label are 0
Number of nulls/missing values in text body are 0